main {
    border: 2px solid green;
    height: 500px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px dashed purple;
    width: 500px;
    margin: auto;
    
}

.flex-container div {
    margin: 20px;
    padding: 30px;
    border: 1px solid red;
    font-size: 30px;
    color:blue;
    background-color: pink;
}